@model IEnumerable<Teknorix_proj.Models.Employee>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emp_fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_mobile_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_desgn_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department_Tbl.dept_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emp_fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_phone_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_mobile_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_desgn_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department_Tbl.dept_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.emp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emp_id })
        </td>
    </tr>
}

</table>
